/* css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin: 10px;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid #00aaff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

img{
    width: 100%;
    object-fit: contain;
}

p{
    padding: 0px 10px;
    display: none;
    text-align: justify;
}

/* Bài 1 */
.container_1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid_container_1 {
    display: grid;
    /* Dàn hàng thành 3 cột */
    grid-template-columns: auto auto auto;
    /* Khoảng cách giữa các ô */
    grid-gap: 15px;
    /* Khoảng cách so với khung */
    padding: 15px;
}

/* Bài 2 */
.container_2 {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 20%;
    padding-right: 20%;
}

.grid_container_2 {
    display: grid;
    /* Dàn hàng thành 3 cột */
    grid-template-columns: auto auto auto;
    /* Khoảng cách giữa các ô */
    grid-gap: 15px;
}

@media (max-width: 576px) {
    /* Bài 1 */
    .container_1 {
        padding: 20px;
    }

    .grid_container_1 {
        grid-template-columns: auto;
        padding: 0px;
    }

    /* Bài 2 */
    .container_2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .grid_container_2 {
        grid-template-columns: auto;
    }

    img{
        display: none;
    }

    p{
        display: block;
    }
}
