/* css */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Playfair+Display&family=Ubuntu:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: "Playfair Display", serif;
    font-size: 14px;
}

/* Start Header */
.navbar{
    height: 160px;
    padding: 0;
    background-color: #FFF!important;
    text-transform: uppercase;
}

.navbar-brand {
    font-size: 30px;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
}

.nav-item{
    padding-right: 40px;
    padding-left: 40px;
}

.nav-item:last-child{
    padding-right: 0;
}

.navbar a {
    margin: 0 !important;
    padding: 0 !important;
    font-weight: 600;
}

.banner img{
    width: 100%;
}
/* End Header */

/* Start Description */
.description{
    padding: 100px 120px;
}

.description h3{
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #b4ad9e;
}

.description h2{
    font-size: 30px;
    margin: 20px 0px;
    color: #626262;
}

.description p:nth-child(3){
    font-size: 14px;
    color: #626262;
    margin-bottom: 30px ;
}

.description p:last-child{
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
}

/* End Description */

@media (max-width: 768px){
    .navbar{
        height: auto;
    }

    .nav-item{
        padding-right: 0px;
        padding-left: 0px;
    }

    .description{
        padding: 50px 0 0;
    }


}