/* css */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Playfair+Display&family=Ubuntu:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: "Playfair Display", serif;
    font-size: 14px;
}

h3{
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #b4ad9e;
    margin-top: 30px;
}

h2{
    font-size: 30px;
    margin: 20px 0px;
    color: #626262;
}

.paragraph{
    font-size: 14px;
    color: #626262;
}

.leaveCM{
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    margin-top: 30px;
}

/* Start Header */
.navbar{
    height: 160px;
    padding: 0;
    background-color: #FFF!important;
    text-transform: uppercase;
}

.navbar-brand {
    font-size: 30px;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
}

.nav-item{
    padding-right: 40px;
    padding-left: 40px;
}

.nav-item:last-child{
    padding-right: 0;
}

.navbar a {
    margin: 0 !important;
    padding: 10px 0px !important;
    font-weight: 600;
}

.banner img{
    width: 100%;
}
/* End Header */

.part-1{
    padding: 50px 120px;
}

.post{
    margin: 80px 0px;
    overflow: hidden;
}

.post img{
    width: 100%;
    object-fit: cover;
}


@media (max-width: 768px){
    .navbar{
        height: auto;
        padding-top: 5px;
    }

    .nav-item{
        padding-right: 0px;
        padding-left: 0px;
    }

    .part-1{
        padding: 0px 15px;
    }
}