/* css */
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&family=Playfair+Display&family=Ubuntu:wght@300&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h1, .h2, .h3, .h4, .h5, .h6, .p, h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0;
}

.container{
    max-width: 1200px;
    border: 1px solid red;
    padding: 0;
}

body {
    font-family: "Playfair Display", serif;
    font-size: 14px;
}

h3{
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    color: #b4ad9e;
    /* margin-top: 30px; */
}

h2{
    font-size: 30px;
    /* margin: 20px 0px; */
    color: #626262;
}

.paragraph{
    font-size: 14px;
    color: #626262;
}

.leaveCM{
    font-family: 'Ubuntu', sans-serif;
    color: #b4ad9e;
    /* margin-top: 30px; */
}

/* Start Header */
.navbar{
    height: 160px;
    padding: 0px 69px;
    background-color: #FFF!important;
    text-transform: uppercase;
}

.navbar-brand {
    font-size: 30px;
    font-family: "Inconsolata", monospace;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.nav-item{
    padding-right: 40px;
    padding-left: 40px;
}

.nav-item:last-child{
    padding-right: 0;
}

.navbar ul a {
    margin: 0 !important;
    padding: 15px 0px !important;
    font-weight: 600;
}

.banner{
    padding: 0px 69px;
}
.banner img{
    width: 100%;
}
/* End Header */

.content-1{
    padding: 0px 150px;
}

/* Start Description */
.description h3{
    margin-top: 98px;
}

.description h2{
    margin-top: 29px;
}

.description .paragraph{
    margin-top: 34px;
}

.description .leaveCM{
    margin-top: 50px;
}
/* End Description */

.post{
    margin-top: 135px;
    overflow: hidden;
}

.post .row:nth-child(2){
    margin: 130px 0 0;
}

.post .box{
    width: 100%;
    padding: 0;
}

.post .box:nth-child(2n+1){
    padding-right: 30px;
}

.post .box:nth-child(2n){
    padding-left: 30px;
}


.post img{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}


@media (max-width: 768px){
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
    .navbar{
        height: auto;
        padding: 5px 0px;
    }

    .nav-item{
        padding-right: 0px;
        padding-left: 0px;
    }

    .part-1{
        padding: 0px 15px;
    }
}